@import url(./general.css);
@media (max-width:575px){
    .center form{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer a:first-child{
        margin: 5px 0 0 0;
    }
    .footerRegistro{
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
    }
    .footerRegistro a:last-child{
        margin: 0px 0px 0px 5px;
    }
}