@import url(./menu.css);
.searcher{
    display: flex;
    flex-direction: row;
}
.center form{
    margin: 0 350px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bloque-central);
    background: var(--color-bloque-central);
}
.searcher{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.date{
    padding: 5px 10px;
    margin: 0 5px;
    background: var(--color-fondo-inputs);
    align-items: center;
    text-align: center;
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.input{
    padding: 15px 90px 15px 90px;
    margin: 0 0 20px 0;
    text-align: center;
    background: var(--color-fondo-inputs);
    border: 1px solid var(--color-texto-placeholder);
}
.input:focus{
    outline: 1px solid var(--color-texto-placeholder);
    border: 1px solid var(--color-texto-placeholder);
}
.input *{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.datosActas{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-texto-placeholder);
    padding: 15px 20px;
    justify-content: space-between;
    background-color: var(--color-fondo-inputs);
    align-items: center;
}
.button{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background: var(--color-boton-secundario);
    color: var(--color-texto-botones);
    font-weight: var(--grosor-negrita);
    border-radius: 5px;
    border: 1px solid var(--color-boton-secundario);
}
.button:hover{
    transition: var(--transicion);
    background-color: var(--color-boton-secundario-hover);
    border: 1px solid var(--color-boton-secundario-hover);
}