@import url(./menu.css);
.center form{
    margin: 0 350px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bloque-central);
    background: var(--color-bloque-central);
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.input{
    margin: 0 0 20px 0;
    padding: 10px;
    text-align: center;
    background: var(--color-fondo-inputs);
    border: 1px solid var(--color-texto-placeholder);
    font-family:  Helvetica, Arial;
}
.input:focus{
    outline: 1px solid var(--color-texto-placeholder);
    border: 1px solid var(--color-texto-placeholder);
}
.textarea{
    resize: none;
}