@import url(./menu.css);
.center{
    display: flex;
    flex-direction: row;
}
.welcome{
    margin-left: 40px;
    display: flex;
    flex-direction:column;
    background: var(--color-bloque-central);
    border: 1px solid var(--color-bloque-central);
    padding: 10px 70px;
}
.parrafo{
    font-size: var(--tamano-texto-14px);
    text-align: center;
}
.center form{
    background: var(--color-bloque-central);
    border: 1px solid var(--color-bloque-central);
    display: flex;
    flex-direction: column;
    margin: 0 350px;
    padding: 40px 60px;
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.datosReunion{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-texto-placeholder);
    padding: 15px 20px;
    justify-content: space-between;
    background-color: var(--color-fondo-inputs);
    align-items: center;
}
.input{
    padding: 15px 90px 15px 90px;
    margin: 0 0 20px 0;
    text-align: center;
    background: var(--color-fondo-inputs);
    border: 1px solid var(--color-texto-placeholder);
}
.input:focus{
    outline: 1px solid var(--color-texto-placeholder);
    border: 1px solid var(--color-texto-placeholder);
}
.input *{
    display: flex;
    flex-direction: column;
    text-align: center;
}