:root{
    /* Variables textos de la página */
    --tamano-texto-14px:14px;
    --tamano-texto-botones-16px:16px;
    --tamano-titulo-20px:20px;
    --color-texto-menu:#F3E9D2;
    --color-texto-menu-hover:#B18A2F;
    --color-titulo:#061C23;
    --color-texto-placeholder:#707070;
    --color-texto-botones:#FFFFFF;
    --color-texto-links:#4EA5D9;
    --grosor-negrita:bold;
    --grosor-normal:regular;
    --fuente-general:Helvetica, Arial, sans-serif;
    /* Variables de color de la pagina (fondos etc) */
    --color-fondo-menu:#114b5f;
    --color-barra-activa:#27db87;
    --color-bloque-central:#f3e9d2;
    --color-fondo-inputs:#b3dfb5;
    /* Variable color botones */
    --color-boton-principal:#4ea5d9;
    --color-boton-secundario:#6adc7f;
    --color-boton-peligro:#DF535C;
    --color-boton-precaucion:#FCCE36;
    --color-boton-principal-hover:#2784B9;
    --color-boton-secundario-hover:#2BB644;
    --color-boton-peligro-hover:#BE232D;
    --color-boton-precaucion-hover:#DDAA03;
    /* Transiciones */
    --transicion:0.3s;
}
html,body {
    font-family:var(--fuente-general);
    margin: 0px;
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.menu{
    background-color:var(--color-fondo-menu);
    padding: 15px 70px 15px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo a{
    color: var(--color-texto-menu);
    font-size: var(--tamano-texto-14px);
    font-weight: var(--grosor-negrita);
    text-decoration: none;
}
.action a{
    padding: 0 10px 5px 10px;
    color: var(--color-texto-menu);
    font-size: var(--tamano-texto-14px);
    text-decoration: none;
}
.action a:hover{
    color: var(--color-texto-menu-hover);
    transition: var(--transicion);
}
.active{
    border-bottom: 3px solid var(--color-barra-activa);
}
/*
.main{
    margin: 0 50px 0 50px;
    background: url(./fondo.png) no-repeat fixed center;
    height:657px;
    width:auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
*/
/* aca no tiene los bordes a los lados */
.main{
    padding: 49px 60px 0 60px;
    background: url(./fondo.png) no-repeat fixed center;
    height:647px;
    width:auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.center{
    margin: 90px 0 0 0;
}
