:root{
    /* Variables textos de la página */
    --color-titulo:#061C23;
    --color-texto-botones:#FFFFFF;
    --color-texto-links:#4EA5D9;
    --color-texto-menu:#F3E9D2;
    --color-texto-menu-hover:#B18A2F;
    --color-texto-placeholder:#707070;
    --fuente-general:Helvetica, Arial, sans-serif;
    --grosor-negrita:bold;
    --grosor-normal:regular;
    --tamano-texto-14px:14px;
    --tamano-texto-botones-16px:16px;
    --tamano-titulo-20px:20px;
    /* Variables de color de la pagina (fondos etc) */
    --color-barra-activa:#27db87;
    --color-bloque-central:#f3e9d2;
    --color-fondo-inputs:#b3dfb5;
    --color-fondo-menu:#114b5f;
    --color-fondo-submenu:#186E8B;
    /* Variable color botones */
    --color-boton-peligro:#DF535C;
    --color-boton-peligro-hover:#BE232D;
    --color-boton-precaucion:#FCCE36;
    --color-boton-precaucion-hover:#DDAA03;
    --color-boton-principal:#4ea5d9;
    --color-boton-principal-hover:#2784B9;
    --color-boton-secundario:#6adc7f;
    --color-boton-secundario-hover:#2BB644;
    /* Transiciones */
    --transicion:0.3s;
}
html,body {
    font-family:var(--fuente-general);
    height: 100%;
    margin: 0px;
    max-height: 1080px;
    max-width: 1920px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}
.menu{
    background-color:var(--color-fondo-menu);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding: 15px 70px 15px 60px;
    position: fixed;
    right: 0;
    top: 0;
}
.logo a{
    color: var(--color-texto-menu);
    font-size: var(--tamano-texto-14px);
    font-weight: var(--grosor-negrita);
    text-decoration: none;
}
.action a{
    color: var(--color-texto-menu);
    font-size: var(--tamano-texto-14px);
    padding: 0 10px 5px 10px;
    text-decoration: none;
}
.action a:hover{
    color: var(--color-texto-menu-hover);
    transition: var(--transicion);
}
.active{
    border-bottom: 3px solid var(--color-barra-activa);
}
.submenu{
    background: var(--color-fondo-submenu);
    display: flex;
    justify-content: center;
    left: 0;
    padding: 15px 70px 20px 60px;
    position: fixed;
    right: 0;
    top: 49px;
}
.action-submenu a{
    color: var(--color-texto-menu);
    font-size: var(--tamano-texto-14px);
    padding: 0 10px 5px 10px;
    text-decoration: none;
}
.action-submenu a:hover{
    color: var(--color-texto-menu-hover);
    transition: var(--transicion);
}
.main{
    background-attachment: fixed;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 49px 60px 0 60px;
    height: 100%;
    text-align: center;
    width:auto;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.center{
    margin: 90px 0 0 0;
}
.mensaje{
    background-color: var(--color-fondo-menu);
    border: 1px solid var(--color-fondo-menu);
    color: var(--color-bloque-central);
    font-size: var(--tamano-texto-botones-16px);
    font-weight: var(--grosor-negrita);
    padding: 15px 20px;
    text-align: center;
}
.button{
    border-radius: 5px;
    color: var(--color-texto-botones);
    cursor: pointer;
    font-weight: var(--grosor-negrita);
    margin: 0 0 10px 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in;
}
.primario{
    background: var(--color-boton-principal);
    border: 1px solid var(--color-boton-principal);
}
.primario:hover{
    background: var(--color-boton-principal-hover);
    border: 1px solid var(--color-boton-principal-hover);
}
.secundario{
    background: var(--color-boton-secundario);
    border: 1px solid var(--color-boton-secundario);
}
.secundario:hover{
    background: var(--color-boton-secundario-hover);
    border: 1px solid var(--color-boton-secundario-hover);
}
.modificar{
    background: var(--color-boton-precaucion);
    border: 1px solid var(--color-boton-precaucion);
}
.modificar:hover{
    background: var(--color-boton-precaucion-hover);
    border: 1px solid var(--color-boton-precaucion-hover);
}
.eliminar{
    background: var(--color-boton-peligro);
    border: 1px solid var(--color-boton-peligro);
}
.eliminar:hover{
    background: var(--color-boton-peligro-hover);
    border: 1px solid var(--color-boton-peligro-hover);
}
.alerta{
    color: var(--color-texto-botones);
    font-size: var(--tamano-texto-botones-16px);
    font-weight: var(--grosor-negrita);
    padding: 20px 20px;
}
.exito{
    background-color: var(--color-boton-secundario-hover);
    border: 1px solid var(--color-boton-secundario-hover);
}
.error{
    background-color: var(--color-boton-peligro-hover);
    border: 1px solid var(--color-boton-peligro-hover);
}