@import url(./menu.css);

/* aca empieza lo mio */
.center form{
    margin: 0 350px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bloque-central);
    background: var(--color-bloque-central);
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.input{
    margin: 0 0 20px 0;
    padding: 10px;
    text-align: center;
    background: var(--color-fondo-inputs);
    border: 1px solid var(--color-texto-placeholder);
}
.input:focus{
    outline: 1px solid var(--color-texto-placeholder);
    border: 1px solid var(--color-texto-placeholder);
}
.blocktext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.account{
    font-size: var(--tamano-texto-14px);
}
.link{
    font-size: var(--tamano-texto-14px);
    font-weight: var(--grosor-negrita);
    color: var(--color-texto-links);
    padding: 0 0 0 5px;
    text-decoration: none;
}
.link:hover{
    transition: var(--transicion);
    color: var(--color-boton-principal-hover);
}