@import url(./menu.css);
.center form{
    margin: 0 350px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bloque-central);
    background: var(--color-bloque-central);
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.reuniones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item{
    margin: 0 0 15px 10px;
    border: 1px solid black;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-fondo-inputs);
}