@import url(./menu.css);

.center form{
    margin: 0 350px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-bloque-central);
    background: var(--color-bloque-central);
}
.tittle{
    font-size: var(--tamano-titulo-20px);
    color: var(--color-titulo);
    font-weight: var(--grosor-negrita);
    padding: 0 0 15px 0;
    border-bottom: 3px solid var(--color-fondo-menu) ;
}
.input{
    margin: 10px 50px;
    padding: 10px;
    font-family:  Helvetica, Arial;
    text-align: center;
    background: var(--color-fondo-inputs);
    border: 1px solid var(--color-texto-placeholder);
}
.input:focus{
    outline: 1px solid var(--color-texto-placeholder);
    border: 1px solid var(--color-texto-placeholder);
}
.textarea{
    cursor: not-allowed;
    resize: none;
    padding: 30px 290px 100px 290px;
}
.button{
    text-decoration: none;
    margin: 10px 50px;
    padding: 10px;
    text-align: center;
    background: var(--color-boton-peligro);
    color: var(--color-texto-botones);
    font-weight: var(--grosor-negrita);
    border-radius: 5px;
    border: 1px solid var(--color-boton-peligro);
}
.button:hover{
    transition: var(--transicion);
    background-color: var(--color-boton-peligro-hover);
    border: 1px solid var(--color-boton-peligro-hover);
}
